{% extends 'Schools/base.html' %}
{% load static %}
{% block content %}
<body>
            {% if user.is_authenticated %}
                     <header class="jumbotron my-4" style="background: yellowgreen">
                 <p class="lead"><b>Hello {{ user.username }},</b></p>
                     <p>View all Teachers and Students below.</p>
         </header>
            {% endif %}

<div class="container mt-4">
    <div class="row">

        <div class="col">
        <div class="fa-credit-card text-center text-nowrap">
          <img class="card-img-top" src="{% static 'images/teacher.jpg' %}" alt="" style="height: 200px">
          <div class="card-body">
            <h4 class="card-title">Teachers</h4>
          </div>
          <div class="card-footer">
            <a href="{%url 'Schools:teacher_list' %}" class="btn btn-primary">View All Teachers</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="fa-credit-card text-center">
          <img class="card-img-top" src="{% static 'images/students.jpg' %}" alt="" style="height: 200px">
          <div class="card-body">
            <h4 class="card-title">Students</h4>
          </div>
          <div class="card-footer">
            <a href="{% url 'Schools:student_list' %}" class="btn btn-primary">View All Students</a>
          </div>
        </div>
      </div>

        <div class="col">
        <div class="fa-credit-card text-center">
          <img class="card-img-top" src="{% static 'images/attendance.jpg' %}" alt="" style="height: 200px">
          <div class="card-body">
            <h4 class="card-title">Attendance</h4>
          </div>
          <div class="card-footer">
            <a href="{% url 'Schools:attendance_list' %}" class="btn btn-primary">View Attendance</a>
          </div>
        </div>
      </div>


        </div>
      </div>

    <!-- /.row -->


    </body>

{% endblock %}
